@using Microsoft.AspNetCore.Components.Authorization
@using FreshNoodle.UI.Services
@using FreshNoodle.UI.Models
@inject AuthApiService AuthService
@inject MenuService MenuService
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FreshNoodle</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        @foreach (var item in MenuService.GetMenuItems())
        {
            if (item.RequireAuth)
            {
                <AuthorizeView Roles="@item.Roles">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="@item.Href" Match="@(item.Href == "" ? NavLinkMatch.All : NavLinkMatch.Prefix)">
                                <span class="bi @item.Icon" aria-hidden="true"></span> @item.Title
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
            }
            else
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@item.Href" Match="@(item.Href == "" ? NavLinkMatch.All : NavLinkMatch.Prefix)">
                        <span class="bi @item.Icon" aria-hidden="true"></span> @item.Title
                    </NavLink>
                </div>
            }
        }

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <a class="nav-link" href="#" @onclick="HandleLogout" @onclick:preventDefault>
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/");
    }
}
